<!DOCTYPE html>
<html>
<head>
    <title>The Movie Application</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
    <style>
        body[ngCloak] {
            display: none;
        }

        input.ng-dirty.ng-invalid {
            background-color: red;
        }
    </style>
</head>
<body ng-app="movieApp" class="container" ng-cloak>

    <nav class="navbar navbar-default navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">At The Movies!</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/default.html">Home</a></li>
        </ul>
    </nav>
    <div ng-show="ajaxLoadingCount">
        <img src="images/spinner.gif"/>
    </div>
    <div ng-show="error">
        Error:
        <pre>
                {{ error | json }}
            </pre>
    </div>

    <div ng-controller="MovieListController" class="row">
        <div class="col-md-8">
            <table class="table table-striped" ng-show="movies">
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Length
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                <tr ng-repeat="movie in movies | orderBy:'title'">
                    <td>
                        {{ movie.title }}
                    </td>
                    <td>
                        {{ movie.length }}
                    </td>
                    <td>
                        <button title="more movie" class="btn" ng-click="movie.makeLonger()">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                        </button>
                        <button title="less movie" class="btn" ng-click="movie.makeShorter()">
                            <span class="glyphicon glyphicon-minus">
                            </span>
                        </button>
                        <button title="edit" class="btn" ng-click="editMovie(movie)">
                            <span class="glyphicon glyphicon-edit">
                            </span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <div ng-show="editableMovie" ng-include="editformurl"></div>
        </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
    <script src="movieModels/module.js"></script>
    <script src="movieModels/Movie.js"></script>
    <script src="dataServices/movieService.js"></script>
    <script src="main/module.js"></script>
    <script src="main/MovieListController.js"></script>
    <script src="main/allJsonFilter.js"></script>
    <script src="main/MovieEditController.js"></script>


</body>
</html