<div ng-controller="MovieEditController">
    <form name="movieEditForm" ng-submit="saveMovie()">

        <input type="text" name="title"
               required ng-model="editableMovie.title" placeholder="Title" />

        <input name="length"
               type="number"
               required ng-model="editableMovie.length" placeholder="Length"
               min="0" max="400" />

        <input class="btn btn-primary"
               type="submit" value="Save"
               ng-disabled="!isValid()"
               ng-click="saveMovie(editableMovie)" />
        
        <input class="btn"
               type="submit" value="Cancel"
               ng-click="cancelEdit(editableMovie)" />
    </form>
</div>